@charset "UTF-8";

@import url("https://fonts.googleapis.com/css?family=Roboto:wght@400;700&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Roboto";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Roboto";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #000;
  font-size: 14px;
}

body.lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 1214px;
  margin: 0 auto;
  width: 100%;
}

.footer {
  background-color: #F7EEFF;
  color: #717171;
  padding: 48px 0;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__list li {
  margin: 0px 29px 0px 0px;
}

.footer__list li:last-child {
  margin: 0;
}

.footer__list li a {
  font-size: 18px;
  line-height: 21px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__list li a:hover {
  color: #000;
}

.footer__phone {
  font-size: 24px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__phone:hover {
  color: #000;
}

.main {
  padding: 32px 0px 69px 0px;
  background-color: #fff;
}

.main__title {
  margin: 0px 0px 45px 0px;
}

.main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 75%;
          flex: 0 1 75%;
}

.main__sidebar {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
}

.content-main__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -21px;
}

.content-main__btn-filter {
  display: none;
}

.content-main__more-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 21px;
  color: #777777;
  width: 100%;
  max-width: 870px;
  padding: 28px 0;
  background-color: #FFCF26;
  border-radius: 4px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 80px 0px 0px auto;
}

.content-main__more-btn svg {
  margin: 0px 10px 0px 0px;
}

.content-main__more-btn svg path {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.content-main__more-btn:hover {
  background-color: #d3ac1e;
  color: #fff;
}

.content-main__more-btn:hover svg path {
  stroke: #fff;
}

.content-main__item_hidden {
  display: none;
}

.item-main {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 28.9%;
          flex: 0 1 28.9%;
  -webkit-box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0 21px 33px 21px;
}

.item-main:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
  cursor: pointer;
}

.item-main:hover .item-main__link {
  background-color: #FFCF26;
  color: #000;
}

.item-main a {
  color: #FFFFFF;
}

.item-main__best-seller {
  font-size: 14px;
  line-height: 16px;
  color: #777777;
  background-color: #FFCF26;
  border-radius: 4px;
  display: inline-block;
  padding: 3px 10px;
  margin: 15px 0 0 15px;
}

.item-main__image {
  text-align: center;
  margin: 0px 0px 30px 0px;
  position: relative;
}

.item-main__image:after {
  content: '';
  width: 100%;
  position: absolute;
  bottom: -19px;
  left: 0;
  height: 0.5px;
  background-color: rgba(0, 0, 0, 0.2);
}

.item-main__text {
  padding: 0 15px;
}

.item-main__price {
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  margin: 0px 0px 7px 0px;
}

.item-main__name {
  line-height: 16px;
  color: #777777;
  margin: 0px 0px 15px 0px;
}

.item-main__delivery {
  line-height: 18px;
  background: url("../img/main/img02.svg") 0 0 no-repeat;
  padding: 0px 0px 0px 42px;
  margin: 0px 0px 20px 0px;
}

.item-main__link {
  line-height: 16px;
  color: #FFFFFF;
  background-color: #A166DC;
  border-radius: 0px 0px 5px 5px;
  display: block;
  width: 100%;
  padding: 11px 0px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.item-main__link:hover {
  background-color: #FFCF26;
  color: #000;
}

.preloader {
  position: static;
  z-index: 999;
  width: 100%;
  height: 35px;
  overflow: visible;
  background: #fff url("//cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif") no-repeat center center;
}

.preloader_visible {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity 1s linear;
  -o-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

.preloader_hidden {
  visibility: hidden;
  opacity: 0;
}

.sidebar-main {
  padding: 0px 0px 0px 30px;
}

.sidebar-main__row {
  padding: 15px 10px;
}

.sidebar-main__btn-apply {
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  width: 100%;
  height: 50px;
  background-color: #FFCF26;
  border-radius: 4px;
  margin: 0px 0px 10px 0px;
}

.sidebar-main__btn-reset {
  font-size: 16px;
  width: 100%;
  height: 50px;
  background-color: #FFF;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar-main__btn-reset svg {
  margin: 0px 6px 0px 0px;
}

.sidebar-main__topbar {
  margin: 0 -25px 10px -25px;
  padding: 15px 23px;
}

.sidebar-topbar {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar-topbar__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
}

.warranty-sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0;
  margin: 0px 0px 10px 0px;
}

.warranty-sidebar label {
  font-size: 16px;
  line-height: 19px;
  color: #3C3C3C;
}

.warranty-sidebar__input {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}

.warranty-sidebar__input + label {
  position: relative;
  padding: 0 0 0 60px;
  cursor: pointer;
}

.warranty-sidebar__input + label:before {
  content: '';
  position: absolute;
  top: -4px;
  left: 0;
  width: 50px;
  height: 26px;
  border-radius: 13px;
  background: #CDD1DA;
  -webkit-box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 2px 3px rgba(0, 0, 0, 0.2);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.warranty-sidebar__input + label:after {
  content: '';
  position: absolute;
  top: -2px;
  left: 2px;
  width: 22px;
  height: 22px;
  border-radius: 10px;
  background: #3C3C3C;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
}

.warranty-sidebar__input:checked + label:before {
  background: #FFE074;
}

.warranty-sidebar__input:checked + label:after {
  left: 26px;
}

.sidebar-item {
  margin: 0px 0px 10px 0px;
}

.sidebar-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 0;
  cursor: pointer;
}

.sidebar-item__header.curr .sidebar-item__img svg {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}

.sidebar-item__title {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.sidebar-item__img svg {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.sidebar-item__content {
  padding: 5px 0px 0px 0px;
  height: auto;
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all .5s, ease .2s;
  -o-transition: all .5s, ease .2s;
  transition: all .5s, ease .2s;
}

.sidebar-item__content.curr {
  max-height: 310px;
  visibility: visible;
  opacity: 1;
}

.sidebar-item__input_text {
  background: #FFFFFF;
  border: 1px solid #777777;
  border-radius: 3px;
  width: 100%;
  max-width: 114px;
  height: 34px;
  font-size: 14px;
  line-height: 16px;
  color: #D7D7D7;
  padding-left: 10px;
  margin: 0px 14px 0px 0px;
}

.sidebar-item__input_text:last-child {
  margin: 0;
}

.sidebar-item__input_checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  /* наведение на checkbox */
  /* checkbox active*/
}

.sidebar-item__input_checkbox + label {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sidebar-item__input_checkbox + label:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border: 1px solid #777777;
  border-radius: 4px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
}

.sidebar-item__input_checkbox:checked + label:before {
  background-color: #FFE074;
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='11' viewBox='0 0 14 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 1.25L4.75 9.5L1 5.75' stroke='%233C3C3C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.sidebar-item__input_checkbox:not(:disabled):not(:checked) + label:hover:before {
  border-color: #575555;
}

.sidebar-item__input_checkbox:not(:disabled):active + label:before {
  background-color: #FFE074;
}

.sidebar-item__more-btn {
  font-size: 16px;
  line-height: 19px;
  color: #4290C9;
  background-color: #fff;
}

.sidebar-item-checkbox {
  margin: 0px 0px 10px 0px;
}

.sidebar-item-box-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 1226px) {
  .container {
    max-width: 970px;
  }

  .content-main__row {
    margin: 0 -15px;
  }

  .item-main {
    margin: 0 15px 25px 15px;
  }

  .sidebar-main {
    padding: 0px 0px 0px 20px;
  }
}

@media (max-width: 991.98px) {
  .container {
    max-width: 750px;
  }

  .content-main__row {
    margin: 0 -10px;
  }

  .item-main {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 46.5%;
            flex: 0 1 46.5%;
    margin: 0 10px 15px 10px;
  }

  .sidebar-main {
    padding: 0px 0px 0px 10px;
  }
}

@media (max-width: 767.98px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .main__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .main__sidebar {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }

  .content-main__btn-filter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 18px;
    line-height: 21px;
    color: #777777;
    width: 100%;
    padding: 14px 0;
    background-color: #FFCF26;
    border-radius: 4px;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin: 0px 0px 20px 0px;
  }

  .content-main__btn-filter:hover {
    background-color: #d3ac1e;
    color: #fff;
  }

  .sidebar-main {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: -110%;
    padding: 0px 15px 0px 15px;
    overflow: auto;
    -webkit-transition: all .3s ease 0s;
    -o-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    z-index: 1003;
    background-color: #fff;
  }

  .sidebar-main.active {
    left: 0;
  }

  .sidebar-main__row {
    padding: 0px 10px;
  }

  .sidebar-topbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 430px) {
  .item-main {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
  }
}