/* 
  Ваша задача состоит в оптимизации кода написанного ниже.
*/
button {
  text-align: center;
  color: #383838;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 10px;
  background-color: rgb(206, 184, 62);
  &:hover {
    background-color: #ebde95;
    color: #fff;
  }
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  &__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #828282;
  }
}
.page {
  display: block;
  width: 100%;
  &__logo {
    max-width: 50px;
  }
}